@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../index/Assets/img/background.png);
    background-size: cover;
    background-position: center;   
    
}

.container{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #c5c5c5;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}


.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -15 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot button{
    background: transparent;
    border: none;
    color: #fff;
}

.remember-forgot button:hover{
    text-decoration: underline;
}

.login{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: 0.5s;
    margin-top: 20px;
}

.login:hover{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
}

.register-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register-link a:hover{
    text-decoration: underline;
}

.loading{
    all: unset;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}


.loading span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #09d;
    margin: 8px;
}

.loading span{
    animation-name: bounce;
    animation-duration: .6s;
    animation-timing-function: cubic-bezier(0.6,0.1,0.4,1);
    animation-iteration-count: infinite;
    animation-direction: alternate;   
}

.loading span:nth-child(1){
    animation-delay: .1s;
}

.loading span:nth-child(2){
    animation-delay: 0.2s;
}

.loading span:nth-child(3){
    animation-delay: 0.3s;
}

@keyframes bounce {
    to{
        transform: translateY(50px);
    }
}

.forget{
    color: #fff;
    text-decoration: none;
}

.forget:hover{
    text-decoration: underline;
}